* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #f3f2ef;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .header_left img {
    object-fit: contain;
    height: 35px;
    margin-right: 10px;
  }
  
  .header {
    width: 100%;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 999;
    justify-content: space-evenly;
    border-bottom: 0.1px solid lightgray;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    background-color: white;
  }
  
  .header_left {
    display: flex;
  }
  
  .header_right {
    display: flex;
  }
  
  .header_search {
    padding: 7px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    height: 22px;
    color: gray;
    background-color: #eef3f8;
  }
  
  .header_search > input {
    outline: none;
    border: none;
    background: none;
  }
  
  .header_option {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    color: gray;
    cursor: pointer;
  }
  
  .header_option:hover {
    color: black;
  }
  
  .header_option h3 {
    font-size: 15px;
    margin-top: 15px;
    font-weight: 200;
  }
  
  .header_option_icon {
    margin-right: 5px;
    height: 20px;
    width: 15px;
  }
  .button {
    border:2px solid black;
    border-radius:5px;
    background-color: white;
    color: black;
    padding: 10px;
    font-size: 16px;
    cursor:pointer;
}
.button1{
    background-color:blue;
    color:white;
}
.button1:hover{
    background-color:darkblue;
    color:white;
}
.button2{
    background-color:white;
    color:black;
}
.button2:hover{
    background-color:rgb(206, 206, 206);
    color:black;
}
  
  .body_main{
      display:flex;
      margin-top:35px;
      max-width:1200px;
      margin-left:10px;
      margin-right:100px;
      
  }
  .items{
        position: absolute;
        left: auto;
        width: 100px;
        height: 120px;
        border: 3px solid blue;    
  }
.center{
  background-color:rgb(247, 245, 247);
margin:auto;
width:50%;
border:1px solid rgb(228, 205, 227);
padding:10px;
border-radius:15px;
}
.box{
  background-color:rgb(255, 255, 255);
  width:250px;
  border:1px solid rgb(219, 209, 209);
  padding:20px;
  margin:8px;
  border-radius:5px;
}
.box2{
  background-color:rgb(255, 255, 255);
  width:600px;
  border:1px solid rgb(212, 204, 214);
  padding:20px;
  margin:8px;
  border-radius:5px;
}
img{
  border-radius:50%;
}
.scrollmenu {
  background-color: rgb(121, 214, 121);
  overflow: auto;
  white-space: nowrap;
  height:30px
}

.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

.scrollmenu a:hover {
  background-color: #777;
}





 /* .upper_sidebar{
    padding:50px 90px 50px 20px;
    text-align: center;
    background:lightblue;
    color: yellowgreen;
    width:510px; 
  }
  .bottom_sidebar{
    padding: 10px 0px 10px 20px;
    color: white;
    width:300px;
    height:300px;
  }
  
  
.top {
    position:sticky;
    height: 100px;
    width: 100px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
 .top_img > img {
    margin-bottom: 20px;
    width: 100%;
    height: 100px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    object-fit: cover;
  }
  .top_img {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgray;
    border-bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;
    padding-bottom:1px;
    padding-right:310px;
    padding-left:310px;
    
      }
  
  .sidebar_topAvatar {
    font-size: 1000px;
  } */
  
  